*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
}
header{
    text-align: center;
    padding: 2.5rem 0rem;
    background: red;
    color: white;

    h1{
        padding-bottom: 0.5rem;
    }
    
}
nav{
    text-align: center;
    padding: 1rem 0;
    background: #000;
    a{
        color: white;
        text-decoration: none;
        margin: 0 0.5rem;
    }
}

section{
    padding: 2rem;

    h2{
        padding-bottom: 1rem;
    }
}

main{
    padding: 2rem;

    h2{
        padding-bottom: 1rem;
    }
    
}
.form-group{
    display: flex;
    flex-direction: column;

    input{
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

button{
    height: 3rem;
    width: 20rem;
    background: red;
    border: 1px solid red;
    color: white;
    cursor: pointer;
}